@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #00aa88;
  text-decoration: none; }

.topbar {
  background-color: #212121;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 42px;
  font-family: Helvetica, sans-serif;
  z-index: 999; }
  .topbar .nav {
    border: 0;
    max-width: 960px;
    margin: 10px auto 0;}
  .topbar .name {
    display: inline-block;
    margin: 4px 0 0;
    font-weight: bold;
    float: left;}
    .topbar .name a {
      color: #fff;}
    .topbar .name span{
      color: #00aa88; }

  .topbar .menu {
    padding: 0;
    margin: 0;}
    .topbar .menu a {
      padding: 0;
      color: #fff;
      display: block; }
      .topbar .menu a:hover {
        color: #00aa88; }
    .topbar .menu ul {
      display: block;
      float: right;
      margin: 4px 0 0;
      padding: 0;
      min-height: 24px;
      text-align: right;}
    .topbar .menu li {
      position:relative;
      display:inline-block;
      padding: 0;
      background:none;
      margin: 0 0 0 1.0em; }
    .topbar .menu .rss {
      display: inline-block;
      float: right;
      padding: 0;
      margin: 0 0 0 1.0em;
      width: 24px;
      height: 24px; }
    

.footer {
  clear: both;
  font-size: 0.8em;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 1.0em 0;
  text-align: center; }
  .footer hr {
    border: 0;
    height: 6px;
    background-image: url("/images/hr.png");
    background-repeat: repeat-x;
    margin: 2em 3em; }
  .footer .social {
    max-width: 960px;
    margin: 0 auto; }
    .footer .social a {
      margin: 0;
      color: black; }
      .footer .social a:hover {
        color: #00aa88; }
    .footer .social img {
      margin: 0 4px; }

.content {
  max-width: 960px;
  margin: 65px auto 50px auto;
  padding: 0;
  text-align: justify}
  .content h1, .content h2, .content h3, .content h4 {
    text-align: center; }
  .content h1 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin: 18px 0 5px 0; }
    .content h1 a {
      color: #111;
      text-decoration: none; }
  .content h2 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 15px; }
    .content h2 a {
      color: #111;
      text-decoration: none; }
  .content h3 {
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400; 
    color: #777;
    padding-bottom: 5px;
    margin-bottom: 10px; }
    .content h3 a {
      color: #111;
      text-decoration: none; }
  .content h4 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400; }
    .content h4 a {
      color: #333;
      text-decoration: none; }
    .content h4 a:hover {
      text-decoration: underline; }
  .content p {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7em; }
    .content p:first-letter {
      padding-left: 2.0em; }
    .content p code {
      font-size: 1.0em;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px; }
  .content img {
    padding: 3px;
    border: 1px solid #eeeeee;
    max-width: 100%; }
  .content hr {
    border: 0;
    height: 6px;
    background-image: url("/images/hr.png");
    background-repeat: repeat-x;
    margin: 2em 3em; }
  .content li {
    font-size: 1.2em;
    margin-bottom: 1.0em;
    line-height: 1.0em; }
  .content blockquote {
    font-style: italic;
    font-size: 1.4em;
    padding: .25em 1em;
    margin: 1em 1em 0 1em;
    color: #444; }
    .content blockquote cite:before {
      content: '— '; }
    .content blockquote cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal; }
  .content .byline {
    margin-bottom: 17px;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    padding-left: 0px;
    font-size: 1.2em;
    color: #777;
    text-align: center; }
  .about {
    text-align: center; }
  .content .interviewee {
    margin: 30px auto;
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 4px;
    max-width: 100%;
    min-height: 108px; }
    .content .interviewee p {
      line-height: 1.4;
      font-size: 1.0em;
      font-style: italic;
      margin: 0px; }
      .content .interviewee p:first-letter {
        padding-left: 0; }
    .content .interviewee img {
      position: relative;
      float: left;
      margin: 0 5px 0 0;
      border: 0;
      border-radius: 4px; }
    .content .interviewee ul {
      margin: 0;
      padding: 0;
      text-align: right; }
      .content .interviewee ul li {
        position:relative;
        display:inline-block;
        padding:0;
        width: 24px;
        height: 24px;
        margin: 0 0.2em 0 0; }
        .content .interviewee li img {
          padding: 0; 
          border: 0; }
    .content .interviewee .si-bitbucket {
      background-color:#205081;}
    .content .interviewee .si-blogger {
      background-color:#f57d00;}
    .content .interviewee .si-facebook {
      background-color:#3b5998;}
    .content .interviewee .si-github {
      background-color:#4183c4;}
    .content .interviewee .si-googleplus {
      background-color:#d14836;}
    .content .interviewee .si-twitter {
      background-color:#00aced;}
  .content .listing {
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-size: 1.4em; }
    .content .listing li {
      display: block;
      float: left;
      list-style: none;
      padding: 5px 0px;
      margin: 0 10px;
      color: #777777;
      border-bottom: 1px solid #eee;
      text-align: left;
      width: 220px;
      min-height: 220px;}
    .content .listing li img {
      margin: 0 5px 0 0;
      border: 0;
      border-radius: 10px;
      z-index: 777; }    
    .content .listing li span {
      font-size: 0.6em; }
    .content .listing a {
      display: block;
      text-decoration: none; }
      .content .listing a:hover {
        text-decoration: underline; }

#disqus_thread {
  margin-top: 2.5em}