<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
  <meta charset="utf-8">
  {% if page.title %}
  <title>um papo com {{ page.interviewee_name }} sobre {{ page.subject }}</title>
  {% else %}
  <title>{{ site.name }}</title>
  {% endif %}
  <meta name="author" content="Breno Martinusso" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {% if page.title %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="um papo com {{ page.interviewee_name }} sobre {{ page.subject }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
  <meta property="og:image" content="http://umpapo.com/images/umpapo-fb.png" />
  <meta property="fb:app_id" content="555988731147350" />
  {% else %}
  <link rel="canonical" href="{{ site.url }}" />
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  <link rel="stylesheet" href="https://raw.github.com/martinusso/css-reset/master/reset-min.css" type="text/css" />
  <link rel="stylesheet" href="/css/fontawesome.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46253581-1', 'umpapo.com');
  ga('send', 'pageview');

</script>

  <header class="topbar">
    <section class="nav">
      <div class="name">
        <a href="/">
          umpapo<span>.com</span>
        </a>
      </div>

      <section class="menu">
        <div class="rss"><a href="/feed.xml"><img src="/images/icons/rss-24.png" /></a></div>
        <ul>
          <li><a href="/">entrevistas</a></li>
          <li><a href="/sobre.html">sobre</a></li>
        </ul>
      </section>
    </section>
  </header>

  {{ content }}

  <footer class="footer">
    <hr />

    <section class="social">
      <a href="https://facebook.com/{{ site.facebook }}" target="_blank"><img src="/images/icons/facebook.png?s=32" height="32" width="32" /></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><img src="/images/icons/twitter.png?s=32" height="32" width="32" /></a>
      <a href="https://plus.google.com/{{ site.gplus }}" target="_blank" rel="publisher"><img src="/images/icons/gplus.png?s=32" height="32" width="32" /></a>
      <p><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Um Papo</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://breno.martinusso.com" property="cc:attributionName" rel="cc:attributionURL">Breno Martinusso</a> e <a href="https://twitter.com/isaurarangel">Isaura Rangel</a> está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional</a>.</p>
    </section>
  </footer>
</body>
</html>
